.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
}

h1 {
  color: #FFF;
  font-family: 'Merriweather', serif;
}

.profile {
  border: 1px solid #FFF;
  border-radius: 50px;
  width: 100px;
};
